/* font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif; */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --button-primary-color: #f5f4fa;
  --button-focus-color: #2196f3;
}

body {
  /* background-color: var(--button-primary-color); */
  color: var(--title-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
ul {
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
.accessibility {
  display: none;
}

.title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
  /* outline: 2px solid tomato; */
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}
.border-nav {
  border-bottom: 1px solid #ececec;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-nav {
  display: flex;
  align-items: center;
}

/* Лого сайта */

.site-logo {
  color: var(--title-text-color);

  font-family: Raleway, sans-serif;

  font-weight: 700;
  font-size: 26px;
  /* line-height: 1.37; */
}
.site-logo span {
  color: var(--accent-color);
}
/* адрес относиться к логотипу футера*/
.site-logo .studio-color {
  color: var(--primary-white-color);
}

/* Список навигации страниц сайта */
.site-list .list-item {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-list .list-item:hover,
.site-list .list-item:focus {
  color: var(--accent-color);
}
.site-list {
  display: flex;
  padding: 0px;
  margin: 0px;
  margin-left: 86px;
  align-items: center;
}
.site-list .item {
  padding-bottom: 32px;
  padding-top: 32px;
}
.site-list .item:not(:last-child) {
  margin-right: 50px;
}

/* Список контактов с представителями сайта */
.site-contacts .contacts-item {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}
.site-contacts .contacts-item:hover,
.site-contacts .contacts-item:focus {
  color: var(--accent-color);
}
.site-contacts {
  display: flex;
  padding: 0px;
  margin: 0px;
}
.site-contacts .item:not(:last-child) {
  margin-right: 30px;
}
.contacts-item {
  margin-left: 10px;
}

/* Герой */
.hero {
  text-align: center;
}
.hero-title {
  margin: 0;
  margin-bottom: 46px;
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button-hero {
  padding: 0;
  background-color: var(--accent-color);
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.06em;
}
.button-hero:focus {
  color: var(--accent-color);
}

/* Преимущества */
.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages h2 {
  text-align: center;
}
.advantages-list {
  display: flex;
  justify-content: space-between;

  margin: 0px;
}
.advantages-list .item {
  width: 278px;
}

.advantages-title {
  margin: 0px;

  padding: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
}
.picture {
  margin-bottom: 30px;
}
.advantages-text {
  display: inline;
  color: var(--primary-text-color);

  font-weight: normal;
  font-size: 14px;
  line-height: 1.71px;
  margin: 0px;
}
/* Чем мы занимаемся */
.we-do {
  padding-top: 94px;
  padding-bottom: 94px;
}
.we-do-list {
  display: flex;
  justify-content: space-between;

  margin-top: 0px;
  margin-bottom: 0px;
}
.we-do-title,
.follow {
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  text-transform: uppercase;
}
.we-do .title {
  margin-bottom: 50px;
}
.we-do-title {
  margin-top: -20px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-title {
  margin-bottom: 50px;
}
.team-list {
  display: flex;

  margin-top: 0px;
  margin-bottom: 0px;
  justify-content: space-between;
}
.photo-member {
  margin-bottom: 30px;
}
.team-member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}
.member-specialty {
  margin: 0px;
  margin-bottom: 30px;
  text-align: center;
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}
/* Ссылки на социальные сети */
.social-networks-item {
  color: var(--primary-text-color);
}
.social-networks-item:hover,
.social-networks-item:focus {
  color: var(--accent-color);
}
.social-networks {
  display: flex;
  padding: 0px;
  margin-bottom: 36px;
}

.our-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients .title {
  margin-bottom: 50px;
}
.clients .list {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  align-items: center;
}

.client-item {
  display: flex;
  width: 175px;
  height: 90px;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.client-item:not(:last-child) {
  margin-right: 30px;
}
/* Footer */
.down {
  padding-top: 48px;
  padding-bottom: 28px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.street {
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin: 0px;
  margin-bottom: 9px;
}
.address-flex {
  margin-right: 179px;
}
.address-flex .site-logo {
  display: inline-block;
  margin-bottom: 10px;
}

.footer-flex .social-networks {
  padding-bottom: 0px;
}
.footer-flex .site-logo {
  margin-bottom: 20px;
}

.down {
  display: flex;
}
.address-list {
  margin: 0px;
  padding: 0px;
}

.footer-contacts {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.address-list li:first-child {
  margin-bottom: 9px;
}
.footer-contacts:focus,
.footer-contacts:hover {
  color: var(--accent-color);
}
.follow {
  margin-bottom: 21px;
}
/* Авторские права */

.footnote p {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  color: rgba(255, 255, 255, 0.4);
  margin: 0px;
  margin-top: 18px;
  margin-bottom: 21px;
  text-align: center;
}
/*Страница портфоли main */
.choice-list {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  padding-top: 94px;
  padding-bottom: 56px;
}
.choice-list .item {
  margin-right: 30px;
}

button {
  padding: 0px;
  background-color: var(--button-primary-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  border-radius: 4px;
}
button:hover,
button:focus {
  background-color: var(--button-focus-color);
  color: var(--primary-white-color);
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  padding-bottom: 94px;
}
.portfolio .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
}
.portfolio .item:nth-child(3n) {
  margin-right: 0;
}
.portfolio .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
  margin-top: 20px;
}
.portfolio-description {
  margin: 0px;
  margin-top: 9px;
  margin-bottom: 20px;
  color: var(--primary-text-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
.portfolio-text {
  color: var(--primary-white-color);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  display: none;
}

/* Подсвечивание активнрй страницы */
.list-item.active-page {
  color: var(--accent-color);
}
